<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="addStackMeasurementModal"
     class="modal fade"
     id="stackMeasurementAdd"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="stackMeasurementAddLabel">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="stackMeasurementAddLabel" th:text="|${stack.stackName} 측정 항목 추가|"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="border p-4" style="background-color: white;">
            <div class="mb-3">
              <label for="selectPoll" class="form-label"><b>측정 물질 <span id="cnt"></span></b></label>
              <select id="selectPoll" class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 100%;">
                <option th:each="pollutant : ${pollutants}"
                        th:value="${pollutant.pollutantId}"
                        th:text="${pollutant.pollutantNameKR}"></option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="nextToStep" type="button" class="btn btn-primary" tabindex="-1">다음</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" tabindex="-1">닫기</button>
      </div>
    </div>
  </div>
</div>

<div th:fragment="addStackMeasurementModal2"
     class="modal fade" id="stackMeasurementAdd2"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="stackMeasurementAddLabel2">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="stackMeasurementAddLabel2">측정 항목 추가</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div id="selectedPoll" class="border p-4" style="background-color: white;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="addMeasurementBtn" type="button" class="btn btn-primary" tabindex="-1">추가</button>
        <button id="modalCloseBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal" tabindex="-1">닫기</button>
      </div>
    </div>
  </div>
</div>
</html>