<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="stackImageUploadModal"
     class="modal fade" id="stackImageUpload"
     data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="stackImageUploadLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="stackImageUploadLabel">사진 업로드</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form th:action="@{/management/upload}" method="post" enctype="multipart/form-data">
      <div class="modal-body m-2">
        <div class="mb-3">
          <label for="formFile" class="form-label">사진 선택</label>
          <input class="form-control" type="file" name="file" id="formFile">
          <input type="hidden" name="stackId" th:value="${stack.stack_id}">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">추가</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
      </div>
      </form>
    </div>
  </div>
</div>
</html>