<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="StackTableDto" type="com.ensolution.ensol.common.data.dto.stack.StackTableDto"/>
    <typeAlias alias="TableIdDto" type="com.ensolution.ensol.common.data.dto.stack.TableIdDto"/>
    <typeAlias alias="ScheduleTableDto" type="com.ensolution.ensol.schedule.domain.ScheduleTableDto"/>
    <typeAlias alias="HistoryDto" type="com.ensolution.ensol.schedule.domain.HistoryDto"/>
    <typeAlias alias="BoardDto" type="com.ensolution.ensol.dashboard.domain.BoardDto"/>
    <typeAlias alias="ExcelStackMeasurementDto" type="com.ensolution.ensol.common.data.dto.stack.ExcelStackMeasurementDto"/>
  </typeAliases>
</configuration>