<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="StackTableDto" type="com.ensolution.ensol.dto.query.StackTableDto"/>
    <typeAlias alias="TableIdDto" type="com.ensolution.ensol.dto.query.TableIdDto"/>
    <typeAlias alias="ScheduleTableDto" type="com.ensolution.ensol.dto.query.ScheduleTableDto"/>
    <typeAlias alias="StackMeasurementsOfStackDto" type="com.ensolution.ensol.dto.query.StackMeasurementsOfStackDto"/>
    <typeAlias alias="HistoryDto" type="com.ensolution.ensol.dto.query.HistoryDto"/>
    <typeAlias alias="BoardDto" type="com.ensolution.ensol.dto.query.BoardDto"/>
    <typeAlias alias="ExcelStackMeasurementDto" type="com.ensolution.ensol.dto.query.ExcelStackMeasurementDto"/>
  </typeAliases>

</configuration>