<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="stackListTable">
  <table id="table"
         data-toggle="table"
         data-locale="ko-KR"
         data-search="true"
         data-height="550"
         data-pagination="true"
         data-checkbox-header="true"
         data-click-to-select="true"
         data-show-columns="true"
         data-buttons-class="primary"
         data-buttons-align="left">
    <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="stackName">배출시설 <span class="badge text-bg-primary">수정시 시설명 클릭</span></th>
      <th data-field="companyName">측정대행 의뢰업체</th>
      <th data-field="workplaceName">측정 대상 사업장</th>
      <th data-field="stackType">배출시설 종류</th>
      <th data-field="stackSize">배출구 종별</th>
      <th data-field="prevention">방지시설 종류</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="stack : ${stacks}" th:data-stack-id="${stack.stackId}">
        <td></td>
        <td><a class="updateLink"
               th:href="@{/management/stacks/{id}(id=${stack.stackId})}"
               th:text="${stack.stackName != null ? stack.stackName : '-'}"></a></td>
        <td th:text="${stack.companyName}"></td>
        <td th:text="${stack.workplaceName}"></td>
        <td th:text="${stack.stackType != null ? stack.stackType : '-'}"></td>
        <td th:text="|${stack.stackSize != null ? stack.stackSize : '-'}종|"></td>
        <td th:text="${stack.prevention != null ? stack.prevention : '-'}"></td>
      </tr>
    </tbody>
  </table>
</div>
</html>