<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="workplaceListTable">
  <table id="table"
         data-toggle="table"
         data-locale="ko-KR"
         data-search="true"
         data-height="550"
         data-pagination="true"
         data-checkbox-header="true"
         data-click-to-select="true"
         data-show-columns="true"
         data-buttons-class="primary"
         data-buttons-align="left">
    <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="workplaceName">상호 (기관명) <span class="badge text-bg-primary">수정시 기관명 클릭</span></th>
      <th data-field="address">소재지 (주소)</th>
      <th data-field="workplaceSize">사업장 종별</th>
      <th data-field="businessType">업종</th>
      <th data-field="mainProduction">주생산 품목</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="workplace : ${workplaces}" th:data-workplace-id="${workplace.workplaceId}">
        <td></td>
        <td>
          <a class="updateLink"
             th:href="@{/management/workplaces/{id}(id=${workplace.workplaceId})}"
             th:text="${workplace.workplaceName != null ? workplace.workplaceName : '-'}">
          </a>
        </td>
        <td th:text="${workplace.address != null ? workplace.address : '-'}"></td>
        <td th:text="|${workplace.workplaceSize != null ? workplace.workplaceSize : '-'}종|"></td>
        <td th:text="${workplace.businessType != null ? workplace.businessType : '-'}"></td>
        <td th:text="${workplace.mainProduction != null ? workplace.mainProduction : '-'}"></td>
      </tr>
    </tbody>
  </table>
</div>
</html>