<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="toasts" class="toast-container position-fixed top-0 end-0 p-3">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
    <div class="toast-header">
      <img src='/img/smile.svg' alt="웃는 얼굴"/>
      <strong class="me-auto" style="color: green;">&nbsp;Success</strong>
      <small></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">

    </div>
  </div>
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="failToast">
    <div class="toast-header">
      <img src='/img/frown.svg' alt="슬픈 얼굴"/>
      <strong class="me-auto" style="color: red;">&nbsp;Fail</strong>
      <small></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">

    </div>
  </div>
</div>
</html>