<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>자가측정부 일정</title>
</head>
<body>
<main layout:fragment="content">
  <div th:replace="~{fragments/toasts::toasts}"></div>
  <div class="container">
    <div class="border p-4" style="background-color: white;">
      <div class="d-flex justify-content-between">
        <h4><span class="badge text-bg-primary">자가측정부 일정</span></h4>
        <div>
          <a th:href="@{/schedule/register}" class="btn btn-primary btn-sm mx-1">일정 추가</a>
          <button id="deleteBtn" type="button" class="btn btn-primary btn-sm mx-1">
            일정 삭제
          </button>
          <button id="completeBtn" type="button" class="btn btn-primary btn-sm mx-1">
            일정 완료
          </button>
        </div>
      </div>
      <table
          id="table"
          data-toggle="table"
          data-locale="ko-KR"
          data-search="true"
          data-height="550"
          data-checkbox-header="true"
          data-click-to-select="true"
          data-pagination="true"
          data-toolbar="#toolbar"
          data-buttons-class="primary"
          data-row-style="rowStyle">
        <thead style="font-size: 0.875rem">
        <tr>
          <th data-field="state" data-checkbox="true" data-width="5"></th>
          <th data-field="measure_date" data-width="5">Date</th>
          <th data-field="workplace_name" data-width="150">Workplace</th>
          <th data-field="stack_name" data-width="150">Stack</th>
          <th data-field="pollutants" data-width="300">Pollutants</th>
          <th data-field="team" data-width="5">Team</th>
        </tr>
        </thead>
        <tbody style="font-size: 0.75rem">
          <tr th:each="schedule : ${schedules}"
              th:data-schedule-ids="${schedule.scheduleIds}"
              th:data-stack-measurement-ids="${schedule.stackMeasurementIds}"
              th:data-is-completed="${schedule.isCompleted ? true : false}">
            <td></td>
            <td><a href="">
              <span th:text="${#temporals.format(schedule.measureDate, 'yyyy-MM-dd')}"></span></a></td>
            <td th:text="${schedule.workplaceName}"></td>
            <td th:data-stack-id="${schedule.stackId}"><a th:href="@{/management/stacks/{stackId}(stackId=${schedule.stackId})}" th:text="${schedule.stackName}" target="_blank"></a></td>
            <td th:text="${schedule.pollutants}"></td>
            <td th:text="${schedule.teamName}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script layout:fragment="scriptContent" th:inline="javascript">
  $(document).ready(function(){
    function selectScheduleIds(selector) {
      const is_checked = selector;
      let scheduleIds = [];

      is_checked.each(function () {
        const schedule_id = $(this).closest('tr').attr('data-schedule-ids').split(',');
        schedule_id.forEach(item => {
          scheduleIds.push(item);
        })
      });

      return scheduleIds;
    }

    $('#completeBtn').on('click', function() {
      const scheduleIds = selectScheduleIds($('#table tr td input[type="checkbox"]:checked'));

      const msg = {
        successMsg: '일정이 완료 처리 되었습니다.',
        failedMsg: '작업에 실패 하였습니다.'
      }

      $.ajax({
        url: /*[[@{/schedule/calendar/complete}]]*/ '',
        type: 'PATCH',
        contentType: 'application/json',
        data: JSON.stringify(scheduleIds),
        success: function () {
          sessionStorage.setItem('completeResult', 'success');
          location.reload();
        },
        error: function () {
          loadToast('fail', msg);
        }
      });
    });

    $('#deleteBtn').on('click', function() {
      if (!confirm("삭제 후 복구가 불가능 합니다. 정말로 삭제 하시겠습니까?")) return;

      const schedule_ids = selectScheduleIds($('#table tr td input[type="checkbox"]:checked'));

      if (schedule_ids.length === 0) return loadToast('fail', { failedMsg : "선택된 항목이 없습니다."});

      const msg = {
        successMsg: '삭제 되었습니다.',
        failedMsg: '삭제에 실패 하였습니다.'
      }

      $.ajax({
        url: /*[[@{/schedule/calendar}]]*/ '',
        type: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify(schedule_ids),
        success: function () {
          sessionStorage.setItem('deleteResult', 'success');
          location.reload();
        },
        error: function () {
          loadToast('fail', msg);
        }
      });
    });
  });
</script>
</body>
</html>