<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>대기자가측정 일정등록</title>
</head>
<body>
<main layout:fragment="content">
  <div th:replace="~{fragments/toasts::toasts}"></div>
  <div class="container">
    <div id="addPlanForm" class="border p-4" style="background-color: white;">
      <div class="d-flex justify-content-between">
        <p style="margin-left: 1.25rem;"><b>대기자가측정 일정등록</b></p>
        <input type="text" id="datepicker" name="measure_date" placeholder="Select a date" style="text-align: center;">
        <button id="addPlan" type="button" class="btn btn-primary">등록</button>
      </div>
      <hr>
      <div class="row align-items-stretch">
        <div class="col">
          <div class="border p-4 mx-2 shadow-sm rounded bg-body-tertiary">
            <div class="p-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team_id" id="team1" value="1">
                <label class="form-check-label" for="team1">1팀</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team_id" id="team2" value="2">
                <label class="form-check-label" for="team2">2팀</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team_id" id="team3" value="3">
                <label class="form-check-label" for="team3">3팀</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team_id" id="team4" value="4">
                <label class="form-check-label" for="team4">4팀</label>
              </div>
            </div>
            <div class="p-2">
              <label for="selectWorkplace" class="form-label">측정대상 사업장</label>
              <select id="selectWorkplace" class="js-example-basic-single" style="width: 100%;">
                <option value="">-- select workplace --</option>
                <option th:each="workplace : ${workplaces}"
                        th:value="${workplace.workplace_id}"
                        th:text="${workplace.workplace_name}"></option>
              </select>
            </div>
            <div class="p-2">
              <label for="selectStack" class="form-label">측정 시설</label>
              <select id="selectStack" class="js-example-basic-single" name="stack_id" style="width: 100%">
                <option value="">-- select stack --</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border p-4 mx-2 shadow-sm rounded bg-body-tertiary h-100">
            <div class="p-2 d-flex justify-content-between">
              <a id="stackDetailLink" href=""><span><b>#시설 정보</b></span></a>
              <button id="modifyNoteBtn" type="button" class="btn btn-primary btn-sm">특이사항 수정</button>
            </div>
            <div class="p-2">
              <div class="input-group">
                <span class="input-group-text"><b>특이사항</b></span>
                <textarea id="noteOfStack" class="form-control" aria-label="With textarea" style="height: 150px"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="stackMeasurementList" class="d-flex justify-content-between" style="padding-top: 1.875rem;">

      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 1.875rem;">
    <div class="border p-4" style="background-color: white;">
      <div class="d-flex justify-content-between">
        <p style="margin-left: 1.25rem;"><b>시설 사진</b></p>
      </div>
      <hr>
      <div id="image-container" class="border p-4 mx-2 d-flex flex-wrap justify-content-evenly flex-grow-1 shadow-sm rounded bg-body-tertiary">

      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 1.875rem;">
    <div class="border p-4" style="background-color: white;">
      <div class="d-flex justify-content-between">
        <p style="margin-left: 1.25rem;"><b>히스토리</b></p>
      </div>
      <hr>
      <div class="border p-4 mx-2 flex-grow-1 shadow-sm rounded bg-body-tertiary">
        <table id="table" class="table table-bordered">
          <thead>
          <tr>
            <th data-field="measure_date">측정일</th>
            <th data-field="pollutant">측정 항목</th>
            <th data-field="team_name">팀</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<script layout:fragment="scriptContent" th:inline="javascript">
  $(document).ready(function(){
    $('.js-example-basic-single').select2();

    const addResult = sessionStorage.getItem("addResult");
    viewAddMeasurementToast(addResult);

    datepickerFormatter($('#datepicker'));

    $('#modifyNoteBtn').on('click', function () {
      const selector = $('#noteOfStack');
      const isReadonly = selector.prop('readonly');

      if (isReadonly) {
        selector.prop('readonly', false);
        $(this).html('특이사항 저장');
        return;
      }

      const note = selector.val();
      const stack_id = $('#selectStack').val();
      const stack = {
        'stack_id': stack_id,
        'note': note,
      }
      const msg = {
        successMsg: '수정 되었습니다.',
        failedMsg: '수정에 실패 하였습니다.'
      }

      $.ajax({
        url: `/management/stacks/${stack_id}/note`,
        type: 'PATCH',
        contentType: 'application/json',
        data: JSON.stringify(stack),
        success: function() {
          $('#modifyNoteBtn').html('특이사항 수정');
          $('#noteOfStack').attr('readonly', true);
          loadToast('success', msg);
        },
        error: function() {
          loadToast('fail', msg);
        }
      });
    });

    const id = ["monthly", "quarterly", "semiannual", "annual", "twiceamonth", "onceinfebruary"];

    function selectStackOption(stacks) {
      id.forEach(cycle => {
        const div = $('#' + cycle);
        div.empty();
      });

      const select = $('#selectStack');
      select.empty();
      select.append('<option value="">-- select stack --</option>');

      stacks.forEach((item) => {
        select.append(`<option value="${item.stack_id}">${item.stack_name}</option>`);
      });
    }

    $("#selectWorkplace").on('change', function() {
      const workplaceId = $(this).val();

      $.ajax({
        url: `/schedule/register/stacks?workplaceId=${workplaceId}`,
        type: 'GET',
        contentType: 'application/json',
        success: function(result) {
          selectStackOption(result.stacks);
        },
        error: function() {
          alert('failed');
        }
      });
    });

    $("#selectStack").on('change', function() {
      const stackId = $(this).val()
      const stackDetailLink = $('#stackDetailLink');

      stackDetailLink.attr('href', '/management/stack/' + stackId);
      stackDetailLink.attr('target', '_blank');

      $.ajax({
        url: `/management/stacks/${stackId}/images`,
        method: 'GET',
        dataType: 'json',
        success: function(images) {
          let $container = $('#image-container');
          $.each(images, function(index, image) {
            let $img = $('<img>')
              .attr('src', '/uploads/' + image.image_name)
              .attr('alt', image.image_name)
              .css('width', '300px')
              .addClass('img-thumbnail')
              .addClass('m-2'); // 이미지 크기 조정
            $container.append($img);
          });
        },
        error: function() {
          alert('Failed to load images.');
        }
      });

      $.ajax({
        url: `/schedule/register/stack-measurements?stackId=${stackId}`,
        type: 'GET',
        contentType: 'application/json',
        success: function(response) {
          getHistory(response.histories);
          getNoteOfStack(response.note);
        },
        error: function() {
          alert('failed');
        }
      });

      $.ajax({
        url: `/management/stacks/${stackId}/stack-measurements`,
        method: 'GET',
        success: function(response){
          const options = {
            pollutants: response.stackMeasurements,
            parentId: '#stackMeasurementList',
          }
          createPollutantListView(options);
        },
        fail: function(){ }
      });
    });

    $("#addPlan").on('click', function() {
      const selectedMeasurement = [];
      const measure_date = $("#datepicker").val();
      const team_id = $('input[type="radio"]:checked').val();

      if (!team_id) {
        loadToast('fail', { failedMsg : "팀을 선택해주세요!"});
        return;
      }

      $('#addPlanForm input[type="checkbox"]:checked').each(function () {
        const stack_measurement_id = $(this).closest('div').attr('data-stack-measurement-id');
        selectedMeasurement.push({
          "team_id": team_id,
          "stack_measurement_id": stack_measurement_id,
          "measure_date": measure_date,
        })
      });

      if (selectedMeasurement.length === 0) {
        loadToast('fail', { failedMsg : "측정 항목을 선택해주세요!"});
        return;
      }

      if (!selectedMeasurement) {
        loadToast('fail', { failedMsg : "측정 항목을 선택해주세요!"});
        return;
      }

      $.ajax({
        url: '/schedule/register',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(selectedMeasurement),
        success: function() {
          loadToast('success', { successMsg : "일정 등록에 성공하였습니다." })
        },
        error: function () {
          loadToast('fail', { failedMsg : "일정 등록에 실패했습니다."});
        }
      });
    });
  });
</script>
</body>
</html>