<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.ensol.management.mapper.PollutantMapper">
  <sql id="select">
    SELECT pollutant_id, pollutant_name, pollutant_name_en, method
    FROM pollutant
  </sql>

  <select id="selectPollutant" parameterType="int" resultType="PollutantDto">
    <include refid="select"/>
    WHERE pollutant_id = #{pollutant_id}
  </select>

  <select id="selectAll" resultType="PollutantDto">
    <include refid="select"/>
    ORDER BY method
  </select>
</mapper>