<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.ensol.management.data.mapper.StackImagesMapper">
    <insert id="insert" parameterType="StackImagesDto">
        INSERT INTO stack_images (stack_id, image_path, image_name)
        VALUES (#{stack_id}, #{image_path}, #{image_name})
    </insert>

    <update id="update" parameterType="StackImagesDto">
        UPDATE stack_images
        SET image_path = #{image_path},
            image_name = #{image_name}
        WHERE stack_images_id = #{stack_images_id}
    </update>

    <delete id="deleteItems" parameterType="int">
        DELETE FROM stack_images
        WHERE stack_images_id = #{stack_images_id}
    </delete>

    <select id="selectStackImage" parameterType="int" resultType="StackImagesDto">
        SELECT stack_images_id, stack_id, image_data, image_name
        FROM stack_images
        WHERE stack_images_id = #{stack_images_id}
    </select>

    <select id="selectAllImagesByStackId" parameterType="int" resultType="StackImagesDto">
        SELECT stack_images_id, stack_id, image_path, image_name
        FROM stack_images
        WHERE stack_id = #{stack_id}
    </select>
</mapper>