<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensolution.ensol.repository.app.mybatis.TableInformationMapper">
    <sql id="selectTableArg">
        SELECT
            s.stack_id AS stackId,
            s.stack_name AS stackName,
            c.company_name AS companyName,
            w.workplace_name AS workplaceName,
            f.factory_category AS factoryCategory,
            f.factory_name AS factoryName,
            d.department_name AS departmentName
        FROM stack s
            LEFT JOIN workplace w ON s.workplace_id = w.workplace_id
            LEFT JOIN company c ON w.company_id = c.company_id
            LEFT JOIN factory f ON s.factory_id = f.factory_id
            LEFT JOIN department d ON f.department_id = d.department_id
    </sql>

    <select id="selectStacksOfTable" resultType="StackTableDto">
        <include refid="selectTableArg"/>
    </select>

    <select id="selectStacksByWorkplaceOfTable" parameterType="Integer" resultType="StackTableDto">
        <include refid="selectTableArg"/>
        WHERE w.workplace_id = #{workplaceId}
    </select>

    <select id="stackMeasurementsOfStack" parameterType="Integer" resultType="StackMeasurementsOfStackDto">
        SELECT
            sm.stack_measurement_id AS stackMeasurementId,
            sm.stack_id AS stackId,
            sm.pollutant_id AS pollutantId,
            sm.cycle_type AS cycleType,
            sm.is_completed AS isCompleted,
            p.pollutant_name_kr AS pollutantNameKR,
            p.pollutant_name_en AS pollutantNameEN,
            p.method,
            sm.is_measured AS isMeasured,
            sm.allow_value AS allowValue
        FROM stack_measurement `sm`
            INNER JOIN pollutant `p` on sm.pollutant_id = p.pollutant_id
        WHERE sm.stack_id = #{stackId};
    </select>
</mapper>